@media screen and (max-width: 991.99px) {


   

    .landing {
        .contact-us {
            width: auto;
            margin-left: 0;
        }

        .navbar-nav {
            align-items: center;
        }

        .navbar-brand {
            max-width: 200px;
        }

        .show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    header {
        .navbar {
            &-collapse {
                flex-direction: column;
            }
        }
    }

    .us-info {
        .adress {
            margin-right: 85px;
            margin-left: 30px;
        }
    }

    .get-one {
        margin-bottom: 90px;
    }

    footer {
        margin-top: 70px;

        &::before {
            display: none;
        }
        
        .col-description,
        .col-company,
        .col-folow_us {
            display: none;
        }

        .copy {
            margin-top: 10px;
        }

    }
}


