@media screen and (max-width: 1199px) {
    .landing {
        .container {
            padding: 0px 30px;
        }

        .contact-us {
            transform: translate(0px, 0px);
        }
    }

    .hong-kong {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .kong-col-left {
            flex-direction: row;
            order: 1;
            margin-top: 10px;

            .kong-info {
                display: none;
            }
        }

        .kong-col-right {
            flex-direction: column;
        }

        .contact-us {
            max-width: 594px;
            width: 100%;
        }
    }

    .choose-product {
        .products {
            .col-right {
                margin-left: 80px;
            }
        }
    }

    .response {
        .container {
            width: 100%;
            justify-content: center;
            display: flex;
        }

        .slider-template {
            max-width: 1200px;
            width: 100%;
            justify-content: center;
        }

        .slick-list {
            // width: 365px;\
            width: 100%;
        }

        .slick-slide {
            // width: 565px;
            min-width: 440px;
            width: 100%!important;
            // margin-left: auto;
            display: flex;
            justify-content: center;
        }
    }

    .us-info {
        .adress {
            margin-left: 70px;
            margin-right: 145px;
        }

        .phone {
            margin-right: 100px;
        }
    }

    footer {
        .container {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 1099px) {
    .landing {

        .navbar {
            padding: 0 30px;
        }

        .baner {
            flex-direction: column;
            align-items: center;

            &-text {
                display: none;
            }

            .col-left {
                margin-top: 60px;
            }

            .col-right {
                display: none;

                &::after {
                    display: none;
                }
            }

            .row-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        .carts {
            flex-direction: column;
            align-items: baseline;  // тут выбрал этот стиль
                                    // так как показался более подходящим
        }

        .health,
        .respirators {
            flex-direction: column;
            align-items: center;

            &::before {
                display: none;
            }

            .respirators-col-left {
                margin: 0;
                margin-top: 25px;
                order: 1;
            }

            .health-col-right {
                margin: 0;
                margin-top: 25px;
            }
        }

    }

    .hong-kong {
        &::backdrop {
            display: none;
        }
        
        .lab {
            flex-direction: column;

            .col-lab {
                justify-content: center;
                align-items: center;
                margin-right: 0;

                &::after {
                    display: none;
                }
            }

            .col-img {
                margin-top: 25px;
            }
        }
    }

    .choose-product {
        .products {
            .col-reasons {
                margin-left: 20px;
            }
        }
    }
}