@media screen and (max-width: 1199px) {
    .landing {
        .container {
            padding: 0px 30px;
        }
    }

    .hong-kong {
        .container {
            flex-direction: column;
            align-items: center;
        }

        .kong-col-left {
            flex-direction: row;
            order: 1;
            margin-top: 10px;

            .kong-info {
                display: none;
            }
        }

        .kong-col-right {
            flex-direction: column;
        }

        .contact-us {
            max-width: 594px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1099px) {
    .landing {

        .baner {
            flex-direction: column;
            align-items: center;

            &-text {
                display: none;
            }

            .col-left {
                margin-top: 60px;
            }

            .col-right {
                display: none;
            }

            .row-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        .carts {
            flex-direction: column;
            align-items: baseline;
        }

        .health,
        .respirators {
            flex-direction: column;
            align-items: center;

            .respirators-col-left {
                margin: 0;
                margin-top: 25px;
                order: 1;
            }

            .health-col-right {
                margin: 0;
                margin-top: 25px;
            }
        }

    }

    .hong-kong {
        .lab {
            flex-direction: column;

            .col-lab {
                justify-content: center;
                align-items: center;
                margin-right: 0;

                &::after {
                    display: none;
                }
            }

            .col-img {
                margin-top: 25px;
            }
        }
    }

    .choose-product {
        .products {
            .col-reasons {
                margin-left: 20px;
            }
        }
    }
}