@media screen and (max-width: 991.99px) {

    .us-info {
        .adress {
            margin-right: 85px;
            margin-left: 30px;
        }
    }

    footer {
        .col-description,
        .col-company,
        .col-folow_us {
            display: none;
        }

        .copy {
            margin-top: 10px;
        }

    }
}


