@media screen and (max-width: 767px) {

    .choose-product {
        .products {
            flex-direction: column;
            align-items: center;

            .reason-title {
                font-size: 38px;
            }

            .row {
                justify-content: center;
            }

            .col-mask {
                order: 1;
                margin-top: 20px;
            }

            .col-right {
                margin-left: 80px;
            }
        }
    }

    .get-one {
        .title {
            font-size: 38px;
            text-align: center;
        }

        .description {
            font-size: 14px;
        }
    }

    .us-info {

        &::after {
            height: 215px;
            top: -20%;
        }

        .row-info {
            flex-direction: column;
            align-items: center;
            margin-left: 80px;
        }

        .adress-title,
        .phone-title,
        .email-title {
            font-size: 20px;
        }

        .adress-info,
        .phone-info,
        .email-info {
            font-size: 14px;
        }

        .adress-info {
            width: 150px;
        }

        .adress {
            margin: 0;

            &::after {
                left: -31%;
            }
        }

        .phone {
            margin: 0;
            margin-left: -38px;

            &::after {
                left: -51%;
            }
        }

        .email {
            margin-left: -10px;

            &::after {
                left: -48%;
                top: 34%;
            }
        }
    }
}

@media screen and (max-width: 650px) {

    .first-screen {
        margin-bottom: 100px;

        .baner {

            &-title,
            &-subtitle {
                font-size: 50px;
            }
        }
    }

    .masks {
        .respirators {

            .respirators-col-left {
                justify-content: center;
                height: 400px;
            }

            .img-respirators {
                width: 337px;
                height: 390px;
            }

            .respirators-title {
                font-size: 38px;
                margin: auto;
                margin-bottom: 20px;
            }

            .respirators-description-1,
            .respirators-description-2 {
                font-size: 16px;
                padding: 0px 90px;
            }
        }

        .health {
            .health-title {
                font-size: 38px;
                margin: auto;
                margin-bottom: 20px;
                padding: 0 90px;
            }

            .health-description-1,
            .health-description-2 {
                font-size: 16px;
                padding: 0px 90px;
            }

            .health-col-right {
                justify-content: center;
                height: 400px;
            }

            .health-img {
                width: 337px;
                height: 390px;
            }
        }
    }

    .hong-kong {

        .kong-col-left {
            img {
                min-width: 285px;
                margin: auto;
            }
        }

        .kong-col-right {
            align-items: center;
        }

        .row {
            justify-content: center;
        }

        .contact-us {
            width: 285px;
            margin: auto;

            .contact-title {
                font-size: 18px;
                margin-left: 15px;
            }

            .contact-description {
                margin-left: 15px;
            }

            .contact-number {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .learn-more-btn {
                    margin-left: 0;
                    width: 150px;
                    align-items: center;

                    &::after {
                        display: none;
                    }
                }

                .number {
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                    margin-top: 50px;

                    &::after {
                        display: none;
                    }
                }
            }
        }

        .lab {

            .col-img {
                flex-direction: column;
                align-items: center;

                img {
                    margin-left: 0px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}