header {
    margin-top: 21px;

   .navbar-brand {
        margin: 0 auto 0 0;
    }

    .d-flex {
        justify-content: space-around;
        max-width: 622px;
        width: 100%;
    }

   .btn {
        padding: 0;
    }

    .nav-btn {
        font-size: 16px;
        font-family: 'OpenSans';

        &:last-child {
            padding: 9px 19px;
            background: blue;
            color: #fff;
            border-radius: 8px;
        }
    }

    .contact-us {
        margin-right: -32px;
    }
}