header {
    margin-top: 13px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        max-width: 1920px;
        width: 100%;
        height: 1195px;
        background: #F7FDFB;
        z-index: -2;
    }

    .navbar-brand {
        margin: 0 auto 0 0;
        font-size: 24px;
        font-family: 'OpenSans';
        font-weight: 700;
    }

    .d-flex {
        justify-content: space-around;
        max-width: 622px;
        width: 100%;
    }

    .btn {
        padding: 0;
    }

    .nav-btn {
        font-size: 16px;
        font-family: 'OpenSans';

        &:last-child {
            padding: 9px 19px;
            background: #1B5FC1;
            color: #fff;
            border-radius: 8px;

            &:hover {
                background-color: #fff;
                border: 1px solid #FFB800;
                color: #FFB800;
            }
        }
    }

    .contact-us {
        margin-left: 38px;
        width: 222px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(16px, 0px);
    }


    // new 

    .navbar {
        max-width: 1140px;
        width: 100%;

        &-brand {
            max-width: 520px;
            width: 100%;
        }

        &-nav {
            justify-content: space-between;
            max-width: 500px;
            width: 100%;
        }

        &-toggler {
            border: none;
            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
            }
        }

        &-collapse {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    .navbar-brand {
        max-width: 520px;
        width: 100%;

        &:hover {
            color: #1B5FC1;
        }
    }

    .nav-link:hover {
        color: #1B5FC1;
    }
}