.hong-kong {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: #F7FDFB;
        width: 1920px;
        height: 1614px;
        z-index: -1;
        top: 45%;
        border-radius: 0 0 0 130px;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .kong-col-left {
        display: flex;
        flex-direction: column;
        max-width: 570px;
        width: 100%;
        margin-top: 83px;

        .kong-info {
            font-family: 'OpenSans';
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #fff;
            width: 285px;
            background-color: #1B5FC1;
            margin: -331px auto 0 285px;
            padding: 60px 30px 79px;
        }
    }

    .kong-col-right {
        display: flex;
        flex-direction: column;
        max-width: 570px;
        width: 100%;
        margin-top: 84px;
        margin-left: 12px;
    }

    .white-block,
    .blue-block {
        display: flex;
        flex-direction: column;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #575C74;
        max-width: 285px;
        width: 100%;
        background-color: #fff;
        padding: 80px 30px 132px
    }

    .blue-block {
        color: #fff;
        background-color: #1B5FC1;
        border-radius: 0 20px 0 0;
    }


    .contact-us {
        display: flex;
        flex-direction: column;
        background-color: #FFB800;
        border-radius: 0 0 20px 0;
        padding-bottom: 52px;
        margin-left: -12px;

        .contact-title {
            color: #0C122D;
            font-family: 'Rubik';
            font-weight: 700;
            font-size: 20px;
            line-height: 50px;
            margin-top: 35px;
            margin-left: 38px;
        }

        .contact-description {
            font-family: 'OpenSans';
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #000;
            margin: -6px 0 35px 38px;
        }

        .contact-number {
            display: flex;
            flex-direction: row;

            .learn-more-btn {
                position: relative;
                padding: 11px 19px;
                border: 1px solid #1B5FC1;
                color: #1B5FC1;
                font-family: 'Rubik';
                font-size: 14px;
                display: flex;
                flex-direction: column;
                width: 124px;
                border-radius: 7px;
                margin-left: 39px;

                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 46px;
                    background-color: #fff;
                    top: 1%;
                    left: 135%
                }

                &:hover {
                    background-color: blue;
                    color: #fff;
                }
            }

            .num-title,
            .number {
                display: flex;
                flex-direction: column;
                color: #1B5FC1;
                font-family: 'OpenSans';
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
            }

            .number {
                font-size: 24px;
                color: #000;
                display: flex;
                flex-direction: column;
                margin: 20px 0 0 140px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background-image: url(assets/img/phone.png);
                    width: 46px;
                    height: 46px;
                    top: -80%;
                    left: -32%;
                }

                &::before {
                    content: "Contact us";
                    position: absolute;
                    color: #1B5FC1;
                    font-family: 'OpenSans';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    top: -100%;
                }
            }
        }
    }

    .lab {
        display: flex;
        flex-direction: row;
        margin-top: 108px;

        .col-lab,
        .col-img {
            display: flex;
            flex-direction: row;
        }

        .col-lab {
            position: relative;
            margin-right: 250px;
            color: #575C74;
            font-family: 'OpenSans';
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;

            &::after {
                content: "";
                position: absolute;
                width: 127px;
                height: 1px;
                background-color: #FFB800;
                left: 125%;
            }
        }

        .col-img {
            margin-top: -28px;
        }

        .nelson,
        .cnas {
            margin-left: 100px;
        }

    }
}