<div class="choose-product">
    <div class="container">
        <div class="products">
            <div class="col-mask">
                <img src="assets/img/mask-baner.png" alt="mask">
            </div>
            <div class="col-reasons">
                <div class="reason-title">Reasons To Choose Our Products</div>
                <div class="reason-description">All products of Health Pro have obtained the certifications issued by national specialized agencies and testing laboratories.
                    <br>They have also passed the quality inspection of several international famous testing institutions. We have absolute confidence that every product of Health Pro is a of the top quality.</div>
                <div class="row">
                    <div class="item col-left">
                        <div class="item-title">Industry leader</div>
                        <div class="item-description">If you have any questions about the equipment, our product specialists are here to help, specialists are here.</div>
                    </div>
                    <div class="item col-right">
                        <div class="item-title">Innovation 3 led development</div>
                        <div class="item-description">If you have any questions about the equipment, our product specialists are here to help.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="item col-left">
                        <div class="item-title">To create a safer tomorrow for all</div>
                        <div class="item-description">If you have any questions about the equipment, our product specialists are here to help.</div>
                    </div>
                    <div class="item col-right">
                        <div class="item-title">To protect and to improve living quality for all</div>
                        <div class="item-description">If you have any questions about the equipment, our product specialists are here to help.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>