<section class="first-screen">
    <div class="container">
        <div class="baner">
            <div class="col col-left">
                <div class="baner-text">3M N95 masks</div>
                <div class="baner-title">Protective</div>
                <div class="baner-subtitle">Face Masks</div>
                <div class="baner-description">We offer the fast delivery wholesale selection of N95 masks and surgical masks, featuring FDA-approved quality and 2 – 5 days delivery, our wholesale face masks are ideal for influenza or novel coronavirus prevention.</div>
                <div class="row-btn">
                    <div id="shop-now" class="btn">Shop now</div>
                    <div id="learn-more" class="btn">Learn more</div>
                </div>
            </div>
            <div class="col col-right">
                <img class="girl-baner" src="assets/img/baner-girl.png" alt="girl">
            </div>
        </div>
        <div class="carts">
            <div class="cart item-1">
                <div class="cart-title">Full-Service Shipping</div>
                <div class="cart-description">From picking to custom-crating to domestic and international shipping, we handle it all for you.</div>
            </div>
            <div class="cart item-2">
                <div class="cart-title">Multi-Point Inspection</div>
                <div class="cart-description">To ensure quality, our team of HTM professionals fully assess and evaluate all equipment.</div>
            </div>
            <div class="cart item-3">
                <div class="cart-title">Professional Product Support</div>
                <div class="cart-description">If you have any questions about the equipment, our product specialists are here to help.</div>
            </div>
            <div class="cart item-4">
                <div class="cart-title">Secure and Easy Payment Methods</div>
                <div class="cart-description">Pay your way, whether by credit card, PayPal or the redemption of earned credits.</div>
            </div>
        </div>
    </div>
</section>