<footer>
    <div class="container">
        <div class="col-description">
            <div class="title">For NextG</div>
            <div class="description">Our team is led by several chief engineers, composed of a large number of researchers absorbed in their work in our comprehensive laboratory, which is also a renowned medical equipment testing center in Hong Kong.</div>
        </div>
        <div class="col-company">
            <div class="company">Company</div>
            <h4>Home</h4>
            <h4>About</h4>
            <h4>Product</h4>
            <h4>Contact</h4>
            <h4>History</h4>
        </div>
        <div class="col-folow_us">
            <div class="folow-us">Follow Us</div>
            <h4 id="facebook">Facebook</h4>
            <h4>Twwiter</h4>
            <h4 id="google">Google+</h4>
            <h4>YouTube</h4>
            <h4>Linkedin</h4>
        </div>
    </div>
    <div class="container">
        <div class="copy">Copiright 2020 №5</div>
    </div>
</footer>
<script async src="assets/js/bootstrap.bundle.min.js"></script>
<script async src="assets/js/jquery.js"></script>
<script async src="assets/js/slick.min.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>