<section class="get-one">
    <div class="container">
         <div class="title">Get One Step Ahead Of Disease</div>
         <div class="description">Imperdiet aliquet est vel nulla turpis eu consequat ullamcorper a egestas suspendisse faucibus eu velit, phasellus pulvinar lorem et libero et tortor, sapien nulla.</div>
         <div id="shop-now" class="btn">Shop now</div>
    </div>
</section>

<section class="us-info">
    <div class="container"> 
        <div class="row-info">
            <div class="col adress">
                <div class="adress-title">Address</div>
                <div class="adress-info">123 5th Avenue, New York, US</div>
            </div>
            <div class="col phone">
                <div class="phone-title">Call Us</div>
                <div class="phone-info">+1 123 456 7890</div>
            </div>
            <div class="col email">
                <div class="email-title">Email Us</div>
                <div class="email-info">info@example.com</div>
            </div>
        </div>

    </div>
</section>