<header class="landing">
    <nav class="container navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex">
            <button class="btn nav-btn">Home</button>
            <button class="btn nav-btn">About</button>
            <button class="btn nav-btn">Product</button>
            <button class="btn nav-btn">Contact</button>
            <button class="btn nav-btn">History</button>
            <div class="contact-us">
              <button class="btn nav-btn">Contack us</button>
            </div>
          </form>
        </div>
      </nav>
</header>
