<section class="hong-kong">
    <div class="container">

        <div class="kong-col-left">
            <img src="assets/img/mask.png" alt="mask">
            <div class="kong-info">Given the praised reputation and reliable quality within the industry, we have also established preliminary business agreements with some hospitals, local governments and medical institutions in Guangdong Province.</div>
        </div>

        <div class="kong-col-right">
            <div class="row">
                <div class="white-block">After years of development, Health Pro has reached stable long-term cooperation with many hospitals and medical institutions in Hong Kong.</div>
                <div class="blue-block">We are keenly looking forward to expand our market in Mainland China and overseas in the future, as we have strong beliefs in our products.</div>
            </div>
            <div class="contact-us">
                <div class="contact-title">Proudly Made in Hong Kong</div>
                <div class="contact-description">Our factory is located in Hong Kong.<br> Equipped with machines and assembly line of the best quality on the market to ensure quality control.</div>
                <div class="contact-number">
                    <div class="learn-more-btn">Learn-more</div>
                    <div class="number">+1 123 444 5678</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="lab">
            <div class="col-lab">Our Lab Certification</div>
            <div class="col-img">
                <img class="fda" src="assets/img/fda.png" alt="fda">
                <img class="nelson" src="assets/img/nelson.png" alt="nelson">
                <img class="cnas" src="assets/img/cnas.png" alt="cnas">
            </div>
        </div>
    </div>
</section>