<section class="response">
    <div class="container">
        <div class="slider-template">
            <div>
                <div class="response-cart">
                    <img class="stars" src="assets/img/stars.png" alt="stars">
                    <img class="in" src="assets/img/in.png" alt="in">
                    <div class="review-description">"Sit cursus quam sagittis pellentesque iaculis mauris purus tincidunt urna ullamcorper viverra aliquet aliquet aliquet donec non molestie egestas cursus amet eu facilisi varius libero diam pharetra odio pharetra at cras aliquam."</div>
                    <div class="person">
                        <img class="avatar maria" src="assets/img/maria.jpg" alt="person">
                        <div class="name">MARIA EVA</div>
                        <div class="profession">Lawyer</div>
                    </div>
                </div>
            </div>
        
            <div>
                <div class="response-cart cart-2">
                    <img class="stars" src="assets/img/stars.png" alt="stars">
                    <img class="in" src="assets/img/insta.png" alt="insta">
                    <div class="review-description">"Nisi ac massa porttitor adipiscing pretium nec sit turpis in adipiscing faucibus quar consectetur pellentesque et mi molestie amet, et, platea facilisi malesuada vitae in scelerisque elementum vestibulum accumsan at etiam vitae."</div>
                    <div class="person">
                        <img class="avatar laim" src="assets/img/laim.jpg" alt="person">
                        <div class="name">LAIM BOWER</div>
                        <div id="mechanic" class="profession">Mechanic</div>
                    </div>
                </div>
            </div> 
            
            <div>
                <div class="response-cart cart-3">
                    <img class="stars" src="assets/img/stars.png" alt="stars">
                    <img class="in" src="assets/img/facebook.png" alt="facebook">
                    <div class="review-description">"Tristique sed odio nunc ut morbi sit urna, vitae, sed pellentesque massa, pellentesque lacinia sapien tempor enim netus euismod tincidunt varius malesuada ornare morbi lorem suspendisse non posuere penatibus tincidunt aliquam lorem."</div>
                    <div class="person">
                        <img class="avatar nicky" src="assets/img/nicky.jpg" alt="person">
                        <div class="name">NICKY</div>
                        <div id="dancer" class="profession">Dancer</div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>